<%- include('./components/headerLogged') %>   
  <body>
    <form>
    <div class="container">
      <h1><%= carta.nombre %></h1>
      <div class="carta-ficha">
        <div class="carta-imagen-ficha">
          <% if (carta.imagen) { %>
            <img src="data:image/png;base64,<%= carta.imagen.toString('base64') %>" class="carta-imagen-ficha">
          <% } %>
        </div>
        <ol class="carta-datos">

          <p><strong>Tipo:</strong> <%= carta.tipo %></p>
          <p><strong>Coste:</strong> <%= carta.coste %></p>
          <p><strong>Fuerza:</strong> <%= carta.fuerza %></p>
          <p><strong>Raza:</strong> <%= carta.raza %></p>
          <p><strong>Habilidad:</strong> <%= carta.habilidad %></p>
        </ol>
      </div>
      
    </form>
    
      <form>
        <h1>Productos asociados</h1>
        <% if (producto && producto.length > 0) { %>
          <% producto.forEach(function(producto) { %>
            <li>
              <h2><a href="/producto/<%= producto.id_producto %>"><%= producto.nombre %></a></h2>
            </li>
          <% }); %>
        <% } else { %>
          <li>No se encontraron productos</li>
        <% } %>
    </div>
    
  </form>
  </body>
</html>