<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    
    <link rel='stylesheet' type="text/css"><link rel="stylesheet" href="/css/estilos.css" >"
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <ul>
      <li><a href="/home">Inicio</a></li>
      <li><a href="/mazos">Mazos</a></li>
      <li><a href="/visualizador">Buscador</a></li>
      <li><a href="/mazos_publicos">Mazos publicos</a></li>
      <li style="float:right"><a class="active" href="/logout">logout</a></li>
    </ul>
  </head>
  </head>
  <body>
    <form>
    <div class="container">
      <h1>Detalles de la carta</h1>
      <h2><%= carta.nombre %></h2>
      <% if (carta.imagen) { %>
        <img src="data:image/png;base64,<%= carta.imagen.toString('base64') %>" class="carta-imagen">
            <% } %>
      <p><strong>Tipo:</strong> <%= carta.tipo %></p>
      <p><strong>Coste:</strong> <%= carta.coste %></p>
      <p><strong>Habilidad:</strong> <%= carta.habilidad %></p>
      <p><strong>Fuerza:</strong> <%= carta.fuerza %></p>
      <p><strong>Raza:</strong> <%= carta.raza %></p>
    </form>
    
      <form>
      <% if (productos && productos.length > 0) { %>
          <h2>Productos relacionados:</h2>
          <% productos.forEach(function(prod) { %>
            <li>
              <h3><%= prod.nombre %></h3>
              <p><%= prod.descripcion %></p>
              <p>Precio: <%= prod.precio %></p>
            </li>
          <% }); %>
        
      <% } else { %>
        <p>No se encontraron productos relacionados.</p>
      <% } %>
    </div>
    
  </form>
  </body>
</html>