<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		
		<link rel='stylesheet' type="text/css"><link rel="stylesheet" href="/css/estilos.css" >"
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<ul>
      <li><a href="/home">Inicio</a></li>
      <li><a href="/mazos">Mazos</a></li>
      <li><a href="/visualizador">Buscador</a></li>
      <li><a href="/mazos_publicos">Mazos publicos</a></li>
        <li><a href="/guiaProductos">Guia productos</a></li>
		  <li style="float:right"><a class="active" href="/logout">logout</a></li>
		</ul>
    <script>
      function cerrarMensajeExito() {
        var mensajeExito = document.getElementById('mensaje-exito');
        mensajeExito.style.display = 'none';
      }
    </script>
	  </head>
    <body>
      <% if (mensajeExito) { %>
        <div id="mensaje-exito" class="mensaje">
          <span class="cerrar" onclick="cerrarMensajeExito()"> &nbsp; x</span> 
          <%= mensajeExito %>
        </div>
      <% } %>
      <div class="container">
        <h1>Cartas</h1><section class="card-list">
          <% cartasMazo.forEach(function(carta) { %>
            <!-- <div class="card"> -->
              <!-- <h2><%= carta.nombre %></h2> -->
              <!-- <p>Código: <%= carta.codigo %></p>
              <p>Tipo: <%= carta.tipo %></p>
              <p>Coste: <%= carta.coste %></p>
              <p>Habilidad: <%= carta.habilidad %></p>
              <p>Fuerza: <%= carta.fuerza %></p>
              <p>Raza: <%= carta.raza %></p> -->
              <% if (carta.imagen) { %>
                <img src="data:image/png;base64,<%= carta.imagen.toString('base64') %>" class="carta-imagen">
              <% } %>
              <form action="/eliminarCarta" method="POST">
                <input type="hidden" name="mazoId" value="<%= mazoId %>">
                <input type="hidden" name="codigo_carta" value="<%= carta.codigo %>">
                <button type="submit">X</button>
              </form>
            <!-- </div> -->
          <% }); %>
            </section>
        <h1> </h1>
        <form action="/agregarCarta" method="POST">
          <input type="hidden" name="mazoId" value="<%= mazoId %>">
          <select id="carta_agregar" name="codigo_carta">
            <% cartas.forEach(function(carta) { %>
              <option value="<%= carta.codigo %>"><%= carta.nombre%></option>
            <% }); %>
          </select>
          <button type="submit">Agregar Carta</button>
        </form>
        

      
    </body>
</html>