<%- include('./components/headerLogged') %>



<div class="container">
<form action="/foro/crear-publicacion" method="POST">
  <div class="grilla">
    <div class="tarjeta">
    <h1>Crear nueva publicación</h1>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" placeholder="Ingresa el título" required>
    <label for="contenido">Contenido:</label>
    <textarea id="contenido" name="contenido" placeholder="Escribe el contenido" required></textarea>
    
    <label for="carta">Carta:</label>
    <select id="carta" name="carta" required>
      <% cartas.forEach(carta => { %>
        <option value="<%= carta.codigo %>"><%= carta.nombre %></option>
      <% }); %>
    </select>

    <button type="submit">Crear publicación</button>
    </div>
  </div>
  </form>

      <!-- Mostrar las publicaciones del usuario activo -->
      <% publicaciones.forEach(publicacion => { %>
        <div class="grilla">
          <div class="tarjeta">
          <h2><%= publicacion.titulo %></h2>
          <p><%= publicacion.contenido %></p>
          <!-- Mostrar otros detalles de la publicación -->
    
          <!-- Agregar enlace para eliminar la publicación -->
          <form action="/foro/publicacion/<%= publicacion.id_publicacion %>/eliminar" method="POST">
            <button type="submit">Eliminar</button>
          </form>
        
      <% }); %>
    </div>
    </div>
</div>

