<%- include('./components/headerTienda') %>

  <body>

    <div class="container">
      <form action="/creador_productos" method="POST">
        <h1>Producto</h1>
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
          <label for="precio">precio:</label>
          <input type="text" id="precio" name="precio" required>
        </div>
        <div>
            <label for="descripcion">Descripcion Producto:</label>
            <input type="text" id="descripcion" name="descripcion" required>
          <br>
        <button type="submit">Crear Producto</button>        
      </form>
      <form>
          <h1>Productos</h1>
          <ol>
            <% producto.forEach(function(producto) { %>
              <li>
                <h2><%= producto.nombre %></h2>
                <p><%= producto.descripcion %></p>
                <p>Precio: <%= producto.precio %></p>
                <form action="/actualizar" method="POST">
                  <div>
                    <label for="disponible">Disponible:</label>
                    <select id="disponible" name="disponible">
                      <option value="true" <% if (producto.disponible) { %>selected<% } %>>Disponible</option>
                      <option value="false" <% if (!producto.disponible) { %>selected<% } %>>No disponible</option>
                    </select>
                    <input type="hidden" name="id_producto" value="<%= producto.id_producto %>"> <!-- Agregar campo oculto para enviar el id_producto -->
                    <button type="submit">Guardar</button>
                  </div>
                </form>
              </li>
            <% }); %>
          </ol>
        </div>
        </form>
    
    </div>
  </body>
</html>