<%- include('./components/headerTienda') %>


<body>
  <div class="container"> 
    <div class="grilla">
      <div class="tarjeta">
    <% if (productoTienda && producto) { %>
     
      <h1><%= producto.nombre %></h1>
      <div class="ficha-publicacion">
        <% if (producto.imagen) { %>
          <img src="data:image/png;base64,<%= producto.imagen.toString('base64') %>">
          <% } %>
          <ol class="publicacion-foro">
        <p><%= producto.descripcion %></p>
        <p><Strong>Precio:</Strong> <%= producto.precio %></p>
      </ol>
    </div>
    </div>
    <br>
    <div class="tarjeta">
      <h2>Detalles del Producto en la tienda</h2>
      <a href="<%= productoTienda.hypervinculo %>"><%= productoTienda.hypervinculo %></a>
      <p>Precio en la tienda: $ <%= productoTienda.precio_tienda %></p>
      <form action="/eliminar_producto_tienda" method="POST">
        <input type="hidden" name="id_producto" value="<%= productoTienda.id_producto %>">
        <button type="submit">Eliminar producto de la tienda</button>
      </form>
    <% } else { %>
      <p>No se encontraron detalles del producto en la tienda</p>
    <% } %>
    </div>
  </div>
  </div>
</body>
