<%- include('./components/headerTienda') %>


<body>
    <div class="container"> 
      <% if (productoTienda) { %>
        <h1>Detalles del producto en la tienda</h1>
       
        <p><%= productoTienda.hypervinculo %></p>
        <p><%= productoTienda.descripcion %></p>
        <p>Precio en la tienda: <%= productoTienda.precio_tienda %></p>
        <!-- Agrega aquí más detalles del producto en la tienda -->
  
        <form action="/eliminar_producto_tienda" method="POST">
          <input type="hidden" name="id_producto" value="<%= productoTienda.id_producto %>">
          <button type="submit">Eliminar producto de la tienda</button>
        </form>
      <% } else { %>
        <p>No se encontraron detalles del producto en la tienda</p>
      <% } %>
    </div>
  </body>

</html>