<%- include('./components/headerLogged') %>

<div class="container">
  <h1>Foro</h1>
  <form id="searchForm" action="/foro-busqueda" method="GET">
    <label for="search">Buscar por nombre de publicación:</label>
    <input type="text" id="search" name="search">
    <button type="submit" id="link-tienda">Buscar</button>
  </form>

  <div class="grilla"> 
    <% for (const publicacion of publicaciones) { %>
      <div class="tarjeta">
        <h2><%= publicacion.titulo %></h2>
        <div class="ficha-publicacion">
        <% const carta = publicacion.carta; %> 
        <img src="data:image/png;base64,<%= carta.imagen.toString('base64') %>" class="carta-foro">
        <ol class="publicacion-foro">
        <p><%= publicacion.contenido %></p>
        <p><strong>Fecha de publicación:</strong> <%= publicacion.fecha_publicacion %></p>
        <button onclick="window.location.href='/foro/publicacion/<%= publicacion.id_publicacion %>'" id="crear_mazo">Ver Publicación</button>
        </ol>
      </div>
      </div>
      <br>
    <% } %>
  </div>
</div>

