<%- include('./components/headerLogged') %>

<body>
  <style>
    .cartas {
      margin-top: 40px;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 10px;
    }
    .centrar-boton {
    text-align: center;
  }
  </style>
  <script>
    function cerrarMensajeExito() {
		  var mensajeExito = document.getElementById('mensaje-exito');
		  mensajeExito.style.opacity = '0'; // Establecer la opacidad a 0
      mensajeExito.style.transform = 'translateX(100%)'; // Deslizar hacia la derecha
      setTimeout(function() {
        mensajeExito.style.display = 'none'; // Ocultar el mensaje después de la transición
      }, 500); // Esperar 500 milisegundos antes de ocultar el mensaje
    }
    setTimeout(cerrarMensajeExito, 3000);
  </script>
  <% if (mensajeExito && mensajeExito.length > 0) { %>
    <div id="mensaje-exito" class="mensaje mensaje_exito">
      <span class="cerrar" onclick="cerrarMensajeExito()"> &nbsp; x</span>
      <%= mensajeExito %>
    </div>
    <% } %>
<!-- <div class="home"> -->
  <div class="grilla-home"> 
    <% for (const publicacion of publicaciones) { %>
      <div class="tarjeta-home">
        <h2><%= publicacion.titulo %></h2>
        <div class="ficha-publicacion">
        <% const carta = publicacion.carta; %> 
        <img src="data:image/png;base64,<%= carta.imagen.toString('base64') %>" class="carta-home">
        <ol class="publicacion-foro">
        <p><%= publicacion.contenido %></p>
        <p><strong>Fecha de publicación:</strong> <%= publicacion.fecha_publicacion %></p>
        <button onclick="window.location.href='/foro/publicacion/<%= publicacion.id_publicacion %>'" id="crear_mazo">Ver Publicación</button>
        </ol>
      </div>
      </div>
      <br>
    <% } %>
  </div>

  <div class="grilla-home">
    <div class="tarjeta-home">
      <h2>Mazos Publicos</h2>
    <ol id="lista2">
		  <% mazos.forEach(function(mazo) { %>
			<li>
			  <a href="/mazos/<%= mazo.id_mazo %>">
				<%= mazo.nombre %>
			  </a>
			  <form action="/guardar_mazo_publico" method="POST">
				<input type="hidden" name="id_mazo" value="<%= mazo.id_mazo %>">
				<button class="btn" type="submit" id="crear_mazo" value="<%= mazo.id_mazo %>">Guardar Mazo</button>
			  </form>
			  <form action="/mazos/<%= mazo.id_mazo %>" method="GET" style="display:inline-block;">
				<input class="btn" type="submit" value="Ver Mazo"> 
			  </form>
			</li>
		  <% }); %>
		</ol>
  </div>
<!-- </div> -->
</body>
</html>