<%- include('./components/headerLogged') %>

<body>
  <style>
    .cartas {
      margin-top: 40px;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 10px;
    }
    .centrar-boton {
    text-align: center;
  }
  </style>
  <!-- <script>
    var cartas = <% JSON.stringify(cartas) %>;
    var indiceInicio = 10; // Índice de inicio para cargar las siguientes cartas
    var cantidadPorPagina = 10; // Cantidad de cartas a cargar por página
  
    function cargarMasCartas() {
      var lista = document.getElementById("lista3");
      var limite = Math.min(indiceInicio + cantidadPorPagina, cartas.length);
  
      for (var i = indiceInicio; i < limite; i++) {
        var carta = cartas[i];
        if (carta.imagen) {
          var aElement = document.createElement("a");
          aElement.href = "/carta/" + carta.codigo;
          var imgElement = document.createElement("img");
          imgElement.src = "data:image/png;base64," + carta.imagen.toString('base64');
          imgElement.classList.add("carta-imagen");
          aElement.appendChild(imgElement);
          lista.appendChild(aElement);
        }
      }
  
      indiceInicio += cantidadPorPagina;
  
      if (indiceInicio >= cartas.length) {
        document.getElementById("verMasCartas").style.display = "none"; // Oculta el botón cuando se han cargado todas las cartas
      }
    }
  </script> -->
  <div class="grilla"> 
    <% for (const publicacion of publicaciones) { %>
      <div class="tarjeta">
        <h2><%= publicacion.titulo %></h2>
        <div class="ficha-publicacion">
        <% const carta = publicacion.carta; %> 
        <img src="data:image/png;base64,<%= carta.imagen.toString('base64') %>" class="carta-foro">
        <ol class="publicacion-foro">
        <p><%= publicacion.contenido %></p>
        <p><strong>Fecha de publicación:</strong> <%= publicacion.fecha_publicacion %></p>
        <button onclick="window.location.href='/foro/publicacion/<%= publicacion.id_publicacion %>'" id="crear_mazo">Ver Publicación</button>
        </ol>
      </div>
      </div>
      <br>
    <% } %>
  </div>
</body>
</html>