<%- include('./components/headerLogged') %>

<body>
	<script>
		function cerrarMensajeExito() {
		  var mensajeExito = document.getElementById('mensaje-exito');
		  mensajeExito.style.display = 'none';
		}
  
		function cerrarMensajeError() {
		  var mensajeError = document.getElementById('mensaje-error');
		  mensajeError.style.display = 'none';
		}
	  </script>

<section class="mazo_publico">
	<form action="/buscar_mazo" method="POST">
	  <label for="busqueda">Buscar mazo:</label>
	  <input class="busqueda" name="busqueda" id="busqueda">
	  <button type="submit" id="crear_mazo">Buscar</button>
	  <% if (typeof mazo !=='undefined' && mazo.length > 0) { %>
		<ol id="lista2">
		  <% mazo.forEach(function(mazo) { %>
			<li>
			  <a href="/mazos/<%= mazo.id_mazo %>">
				<%= mazo.nombre %>
			  </a>
			  <form action="/guardar_mazo_publico" method="POST">
				<input type="hidden" name="id_mazo" value="<%= mazo.id_mazo %>">
				<button class="btn" type="submit" id="crear_mazo" value="<%= mazo.id_mazo %>">Guardar Mazo</button>
			  </form>
			  <form action="/mazos/<%= mazo.id_mazo %>" method="GET" style="display:inline-block;">
				<input class="btn" type="submit" value="Ver Mazo"> 
			  </form>
			</li>
		  <% }); %>
		</ol>
	  <% } else { %>
		<h1>No se encontraron resultados</h1>
	  <% } %>
	</form>
  </section>

</body>

