<%- include('./components/headerLogged') %>   

<body>
	<form>
		<div class="container">
		  <% if (producto) { %>
			<h1>Detalles del producto</h1>
			<h2><%= producto.nombre %></h2>
			<p><%= producto.descripcion %></p>
			<p>Precio: <%= producto.precio %></p>
			<% if (producto.imagen) { %>
				<img src="data:image/png;base64,<%= producto.imagen.toString('base64') %>">
			  <% } %>
			<% if (productoTiendas.length > 0) { %>
				<h1>tiendas con el producto disponible</h1>
			  <% productoTiendas.forEach(function(productoTienda) { %>
				<a href="<%= productoTienda.hypervinculo %>"><%= productoTienda.hypervinculo %></a>

				<p>Precio en la tienda: <%= productoTienda.precio_tienda %></p>
				<p>Tienda: <%= productoTienda.nombre %></p>
				<!-- Agrega aquí más detalles del producto_tienda -->
			  <% }); %>
			<% } else { %>
			  <p>No se encontraron detalles del producto en la tienda</p>
			<% } %>
			<!-- Agrega aquí más detalles del producto -->
		  <% } else { %>
			<p>No se encontraron detalles del producto</p>
		  <% } %>
		</div>
	  </form>
  </body>

</html>