<%- include('./components/headerLogged') %>   

<body>
	<form>
		<div class="container">
		  <% if (producto) { %>
			<!-- <h1>Detalles del producto</h1> -->
			<h1><%= producto.nombre %></h1>
			<div class="carta-ficha">
				<div class="carta-imagen-ficha">
					<% if (producto.imagen) { %>
						<img src="data:image/png;base64,<%= producto.imagen.toString('base64') %>">
					  <% } %>
				  </div>
				  <ol class="carta-datos">
					<p><strong>Precio:</strong> <%= producto.precio %></p>
					<p><%= producto.descripcion %></p>
				  </ol>
				</div>
				
				<h2>Tiendas con el Producto</h2>

			<% if (productoTiendas.length > 0) { %>

			  <% productoTiendas.forEach(function(productoTienda) { %>
				<div class="tarjeta">
				<a href="<%= productoTienda.hypervinculo %>">Ir a la tienda</a>

				<p>Precio en la tienda: $<%= productoTienda.precio_tienda %></p>
				<p>Tienda: <%= productoTienda.nombre %></p>
			</div>
			<br>	
				<!-- Agrega aquí más detalles del producto_tienda -->
			  <% }); %>

			<% } else { %>
			  <p>No se encontraron detalles del producto en la tienda</p>
			<% } %>
			<!-- Agrega aquí más detalles del producto -->
		  <% } else { %>
			<p>No se encontraron detalles del producto</p>
		  <% } %>
		</div>
		</div>
	  </form>
  </body>

</html>
