<%- include('./components/headerLogged') %>

<!-- Mostrar una publicación específica y permitir agregar comentarios -->
<div class="container">
  <h1><%= publicacion.titulo %></h1>

 
  <p>Nombre de la carta: <%= publicacion.carta_nombre %></p>
 
  <img src="data:image/png;base64,<%= publicacion.carta_imagen.toString('base64') %>" class="carta-imagen">
  <p><%= publicacion.contenido %></p>
  <p>Fecha de publicación: <%= publicacion.fecha_publicacion %></p>
  
  <h2>Comentarios</h2>
  <% for (const comentario of comentarios) { %>
    <div class="comentario">
      <p><%= comentario.contenido %></p>
      <p>Fecha de comentario: <%= comentario.fecha_comentario %></p>
      <p>Autor: <%= comentario.autor_nombre %></p>
    </div>
  <% } %>
  
  <!-- Formulario para agregar un nuevo comentario -->
  <form action="/foro/publicacion/<%= publicacion.id_publicacion %>/comentarios" method="POST">
    <h3>Agregar comentario</h3>
    <textarea name="contenido" placeholder="Escribe tu comentario" required></textarea>
    <button type="submit">Enviar comentario</button>
  </form>
</div>