

<%- include('./components/headerLogged') %>            
          <body>
      <div class="container">
        <h1> Mazo <%= mazoId %></h1>
        <h1>Lista de cartas</h1><div class="card-list">
          <% if (cartasMazo.length > 0) { %>
            <% cartasMazo.forEach(function(carta) { %>
              <button class ='cantidad-cartas'><%= cantidades[carta.codigo] %></button>
              <!-- <div class="card"> -->
                <!-- <h2><%= carta.nombre %></h2> -->
                <!-- <p>Código: <%= carta.codigo %></p>
                <p>Tipo: <%= carta.tipo %></p>
                <p>Coste: <%= carta.coste %></p>
                <p>Habilidad: <%= carta.habilidad %></p>
                <p>Fuerza: <%= carta.fuerza %></p>
                <p>Raza: <%= carta.raza %></p> -->
                <% if (carta.imagen) { %>
                  <img src="data:image/png;base64,<%= carta.imagen.toString('base64') %>" class="carta-imagen">
                <% } %>

              <!-- </div> -->
            <% }); %>
          <% } else { %>
            <p>Ninguna carta agregada al mazo</p>
          <% } %>
        </div>
    </body>
</html>